<div aria-live="polite" aria-atomic="true" class="flashes">
  <div class="inner">
    {% for label, messages in app.flashes %}
      {% for message in messages %}
        <div class="toast text-bg-{{ label }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">{{ message }}</div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="{{ "close"|trans }}"></button>
            </div>
        </div>
      {% endfor %}
   {% endfor %}
  </div>
</div>
