doctrine:
    dbal:
        # The server_version must be configured directly in the
        # DATABASE_URL to allow different drivers without adding
        # too many env vars
        driver: 'pdo_%env(string:default:default_database_driver:DATABASE_DRIVER)%'

        url: '%env(resolve:DATABASE_URL)%'

    orm:
        auto_generate_proxy_classes: true
        report_fields_where_declared: true
        enable_lazy_ghost_objects: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        controller_resolver:
            auto_mapping: false
        mappings:
            App:
                is_bundle: false
                type: attribute
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
