security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
    providers:
        admin_user_provider:
            id: App\Security\AdminUserProvider
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        api_v1:
            pattern: ^/api/v1
            stateless: true
            custom_authenticators:
                - App\Security\ApiKeyAuthenticator
        main:
            lazy: true
            custom_authenticators:
                - App\Security\LoginFormAuthenticator
            provider: admin_user_provider
            logout:
                path: app_logout
                target: dashboard
            

    access_control:
        - { path: ^/$, roles: PUBLIC_ACCESS }
        - { path: ^/dav, roles: PUBLIC_ACCESS }
        - { path: ^/dashboard, roles: ROLE_ADMIN, allow_if: "'%env(default:default_admin_auth_bypass:ADMIN_AUTH_BYPASS)%' === 'true'" }
        - { path: ^/users, roles: ROLE_ADMIN, allow_if: "'%env(default:default_admin_auth_bypass:ADMIN_AUTH_BYPASS)%' === 'true'" }
        - { path: ^/calendars, roles: ROLE_ADMIN, allow_if: "'%env(default:default_admin_auth_bypass:ADMIN_AUTH_BYPASS)%' === 'true'" }
        - { path: ^/adressbooks, roles: ROLE_ADMIN, allow_if: "'%env(default:default_admin_auth_bypass:ADMIN_AUTH_BYPASS)%' === 'true'" }
        - { path: ^/api/v1/health$, roles: PUBLIC_ACCESS }
        - { path: ^/api, roles: IS_AUTHENTICATED }
