{
        auto_https off
}

:9000 {
	# Redirect .well-known
	redir /.well-known/caldav  /dav/
	redir /.well-known/carddav /dav/

        root * /var/www/davis/public
        php_fastcgi unix//var/run/php-fpm/php-fpm.sock {
                # Preserve the original X-Forwarded-Proto from upstream, as it might be HTTPS
                header_up X-Forwarded-Proto {http.request.header.X-Forwarded-Proto}
                header_up X-Forwarded-Host {http.request.header.X-Forwarded-Host}
                header_up X-Forwarded-For {http.request.header.X-Forwarded-For}
        }

        file_server {
                # Safety net, just in case
                hide .git .gitignore
        }

        # enable compression
        encode zstd gzip

        # Remove leaky headers
        header {
                -Server
                -X-Powered-By

                # keep referrer data off of HTTP connections
                Referrer-Policy no-referrer-when-downgrade

                # disable clients from sniffing the media type
                X-Content-Type-Options nosniff
        }

}
