<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Davis{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap-light-prefers-dark.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        {% include '_partials/navigation.html.twig' %}
        {% include '_partials/flashes.html.twig' %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <script
              src="https://code.jquery.com/jquery-3.4.1.min.js"
              integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
              crossorigin="anonymous"></script>
        <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
    </body>
</html>
