<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Davis{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Davis</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item{% if menu == "dashboard" %} active{% endif %}">
                <a class="nav-link" href="{{ path('dashboard') }}">Dashboard</a>
              </li>
              <li class="nav-item{% if menu == "resources" %} active{% endif %}">
                <a class="nav-link" href="{{ path('users') }}">Users and resources</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <script
              src="https://code.jquery.com/jquery-3.4.1.min.js"
              integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
              crossorigin="anonymous"></script>
        <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
        
    </body>
</html>
