{% extends 'base.html.twig' %}
{% set menu = 'resources' %}

{% block body %}

{% include '_partials/back_button.html.twig' with { url: path('calendar_index', {username: username}), text: "calendars.back"|trans({'user': principal.displayName }) } %}

{% if calendar.id %}
<h1 class="display-4 fw-lighter mb-5">{{ "calendars.edit"|trans({'name': calendar.displayName }) }}</h1>
{% else %}
<h1 class="display-4 fw-lighter mb-5">{{ "calendars.new"|trans }} <small class="text-muted">for {{ principal.displayName }}</small></h1>
{% endif %}

{{ form(form) }}

{% endblock %}