{% extends 'base.html.twig' %}
{% set menu = 'resources' %}

{% block body %}

<a href="{{ path('users') }}" class="btn btn-link">« Back to Users</a>

{% if username %}
<h1 class="display-4 mb-5">Editing user {{ username }}</h1>
{% else %}
<h1 class="display-4 mb-5">New user</h1>
{% endif %}

{{ form(form) }}

{% endblock %}