{% extends 'base.html.twig' %}
{% set menu = 'resources' %}

{% block body %}

{% if username %}
<h1 class="display-4">Editing user {{ username }}</h1>
{% else %}
<h1 class="display-4">New user</h1>
{% endif %}

{{ form(form) }}

{% endblock %}